 
.flex-container_1 {
  display: flex;
  background-color: DodgerBlue;
  flex-direction: row-reverse;

  justify-content: space-between;


}
.flex-container_2 {
  display: flex;
  background-color: DodgerBlue;
  flex-direction: row-reverse;
 justify-content: space-between;
   /* justify-content: center; */
  /* justify-content: end; */
  /* justify-content: space-around; */
}




.flex-container > div {
  background-color: #f1f1f1;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}

.flex-container > div > div {
  background-color: #db3d3d;}

.flex-container span {B
  background-color: #b9db3d;}

